.menu-transition {
    transition: font-size ease-out 0.4s;
    transform-origin: left;

}

.men-tran-0 {
    animation: onetoFour;
    animation-duration: .3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.men-tran-1 {
    animation: twotoOne;
    animation-duration: .3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.men-tran-2 {
    animation: threetoTwo;
    animation-duration: .3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.men-tran-3 {
    animation: fourtoThree;
    animation-duration: .3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


@keyframes onetoFour {
    from {
        font-size: 60px;
    }

    to {
        font-size: 30px;
    }
}

@keyframes twotoOne {
    from {
        font-size: 50px;
    }

    to {
        font-size: 60px;
    }
}

@keyframes threetoTwo {
    from {
        font-size: 40px;
    }

    to {
        font-size: 50px;
    }
}


@keyframes fourtoThree {
    from {
        font-size: 30px;
    }

    to {
        font-size: 40px;
    }
}