body {
    width: 95% !important;
    margin: auto;
}

main {
    margin-top: -2em;
    justify-content: center;

    .items-large {

        height: 70%;
        display: flex;
        flex-direction: column;
        width: 70%;
        align-items: center;

        border: 1px solid $text-terciary;

        h2 {
            padding: 0 0 30px 0;
            margin: 0;
        }


        .img-item-large {
            display: inherit;

            width: max-content;


            img {
                width: 350px;
                height: 350px;
            }
        }
    }

    .items-div {
        overflow-y: scroll;
        width: 70%;
        height: 70vw;

        a {
            border: none !important;
        }

        a,
        .items {
            color: $text-primary;
            justify-content: center;
            width: 99%;
            border: 1px solid $text-terciary;

            h5 {
                display: none;
            }


            .item-detailed {
                width: 100%;
                display: inherit;
                flex-direction: row;

                h3 {
                    display: block;
                    margin: 0;
                }

                h5 {
                    display: block;
                    margin-top: 5px;
                }
            }

            .item-wrapper:nth-child(1) {
                border-bottom: 1px solid $text-terciary;
            }

            .item-wrapper:nth-child(2) {
                border-bottom: 1px solid $text-terciary;
            }


            .item-wrapper {
                display: flex;
                padding: 1em 0;
                width: 100%;



                .item {
                    width: 100%;
                    display: inherit;
                    align-items: center;




                }

                .img-item {
                    display: inherit;
                    justify-content: center;
                    width: 40%;

                    img {
                        width: 128px;
                        height: 128px;
                    }
                }




                h3 {
                    @extend .font-26px;
                    text-align: left;
                    user-select: none;
                }

            }
        }
    }
}

// check page settings

.checkBorder {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    border: 1px solid $text-terciary;
    height: 60%;
    width: 60%;

    h2 {
        text-align: center;
        margin-bottom: 3em;
    }

    a {
        align-self: flex-end;
        margin: 2em 2em 0 0;

        button {
            width: 100px;
        }
    }

    #border-change {
        display: inherit;
        justify-content: center;
        flex-direction: column;
        height: max-content;
        width: max-content;
    }

    #border-change span {
        padding: 0 10px;
        border: 1px solid $text-terciary;
        background: $text-minimal;
    }

    #border-change input:checked~span {
        border: 1px solid #95C8DA;
    }

    #border-change input[type=checkbox] {
        display: inline-block;
        margin: 1em 10px 1em 0;
    }
}